// font faces
$body-font = 'Hiragino Sans GB' , 'Segoe UI', 'Sans-serif', 'Microsoft Yahei', Arial, sans-serif
$logo-font = 'Hiragino Sans GB' , 'Segoe UI', 'Sans-serif', 'Microsoft Yahei', Arial, sans-serif
$code-font = 'Hiragino Sans GB' , 'Segoe UI', 'Sans-serif', 'Microsoft Yahei', Arial, sans-serif

// font sizes
$body-font-size = 15px
$code-font-size = .8em

// colors
$dark   = #2c3e50
$medium = #323436
$light  = #7f8c8d
$green  = #32a39f
$border = #dddddd
$codebg = #f8f8f8
$red = #ff6666
$white = #ff

$radius = 2px
$content-padding-top = 30px
$header-inner-height = 41px
$heading-padding-vertical = 8px
$header-height = $header-inner-height + $heading-padding-vertical * 2
$mobile-header-height = 40px
$heading-link-padding-top = $header-height + $content-padding-top
$mobile-heading-link-padding-top = $mobile-header-height + $content-padding-top
$h2-margin-top = 45px
$h3-margin-top = 52px
