@import "_common"
@import "_header"
@import '_sidebar'

$width = 1175px
$space = 50px

body
    background-color darken($light, 10%)

.sidebar
    display none

#mobile-bar
    &.top
        background-image none
        box-shadow none
#bg
    background linear-gradient(to bottom, #32a39f, #698fde)
    color white
.software
    text-align center
    font-size 0
#bottom-download
    color white
    font-size 1.2em
    text-align center
    padding 20px 0
    background linear-gradient(to right, #32a39f, #698fde)
    p
        display inline
        margin-left 20px
        font-size 1em
#hero
    text-align center
    padding $space 40px 0px 40px
    background-color transparent
    .inner
        max-width $width
        margin 0 auto
        text-align center
    .left, .right
        display inline-block
        vertical-align top
    .left
        width 39%
    .right
        width 61%
    .hero-logo
        width 215px
        height 215px
        float right
        margin-right 60px
    h1
        font-weight 300
        margin 0
        font-size 6.2em
        color white
    h2
        font-family $logo-font
        font-weight 500
        font-size 4.4em
        margin 0 0 10px
        display none
        color white
    h4
        color white
        font-size 1.2em
    h6
        font-size 1em
    sup
        font-size 0.3em
        vertical-align top
        position relative
        top 0.6em
        left 0.3em
    .button
        margin 1em 0
        font-size 1.25em
        font-weight 600
        letter-spacing .1em
        &:first-child
            margin-right 1em
    .social-buttons
        list-style-type none
        padding 0
        li
            display inline-block
            vertical-align middle
            margin-right 15px

#highlights
    background-color #f0f2f1
    padding-top 40px
    padding-bottom 70px
    .inner
        max-width $width
        margin 0 auto
        text-align center
    .point
        width 100%
        margin 20px 0
        display inline-block
        vertical-align top
        box-sizing border-box
        padding 0 1em
        h2
            color black
            font-size 2.5em
            font-weight 400
            margin 0
            padding .2em 0
        p
            font-size 1.5em
            color black
    .box
        background-color $white
    .big
        width auto
        padding 10px
        position relative
        background white
        .left
            box-sizing border-box
            width 20%
            margin-right 10px
            display inline-block
            vertical-align middle
            padding 10px
            img
                display inline-block
                vertical-align middle
        .right
            box-sizing border-box
            width 75%
            display inline-block
            vertical-align middle
            padding 10px
            p
                text-align left
    .big::after{
        content ""
        display inline-block
        height 100%
        width 0%
        vertical-align middle
    }
    .middle
        display inline-block
        margin 15px
        width 29%
        text-align left
        h2
            margin 15px 15px 0 15px
            color black
        h4
            margin-top 0
            margin-left 15px
            margin-bottom 15px
            color gray
        p
            margin 0 15px 20px 15px
        img
            width 100%
    .friends
        margin-top 40px
        img
            height 100px
            margin 0 20px

#sponsors
    line-height 5px
    text-align center
    padding 35px 40px 45px
    background-color #323436
    background url(../images/bg.jpg) center repeat
    .inner
        max-width 1000px
        margin 0px auto
    h1
        color white
    h3
        color #999
        font-size .9em
        margin 0 0 10px
    a
        margin 20px 15px 0
        position relative
        color white
        line-height 5px
        .name
            display inline-block
            margin-left 10px
            vertical-align middle
    a, img
        width 100px
        display inline-block
        vertical-align middle
    img
        filter none
        opacity 1
        &:hover
            transition all .3s ease
            filter grayscale(100%)
            opacity 0.66

#footer
    padding $space 0
    color #fff
    text-align center
    a
        font-weight 700
        color #fff
    .main-menu
        padding 0
        list-style-type none
        display inline
        text-align center
        li
            margin 0 5px
            display inline

@media screen and (max-width: $width)
    body
        -webkit-text-size-adjust none
        font-size 14px
    .sidebar
        display block
    #header
        display none
    #mobile-bar
        display block
    #hero
        padding $space 40px 30px
        .hero-logo
            float none
            margin 30px 0 15px
            width 140px
            height 140px
        .left, .right
            text-align center
            width 100%
        h1
            font-size 5em
        h2
            display block
        .button
            font-size .9em
    .software
        img
            width 100%
    #highlights
        .point
            margin 0 auto
            margin-top 40px
            text-align center
            display block
            width 370px
            padding 0 40px 30px
            h2
                font-size 1.5em
            p
                font-size 0.8em
        .big
            width auto
            padding 10px
            position relative
            background white
            .left
                box-sizing border-box
                width 20%
                display inline-block
                vertical-align middle
                padding 10px
                img
                    display block
                    width 100%
            .right
                box-sizing border-box
                width 75%
                display inline-block
                vertical-align middle
                padding 10px
                p
                    text-align left
        .big::after{
            content ""
            display inline-block
            height 100%
            width 0%
            vertical-align middle
        }
        .middle
            width auto
            padding 10px
            position relative
            background white
            .left
                box-sizing border-box
                width 40%
                display inline-block
                vertical-align middle
                padding 10px
                img
                    display block
                    width 100%
            .right
                box-sizing border-box
                width 55%
                display inline-block
                vertical-align middle
                padding 10px
                p
                    text-align left
        .middle::after{
            content ""
            display inline-block
            height 100%
            width 0%
            vertical-align middle
        }
    #bottom-download
        .button
            display none
