<a href="https://github.com/" target="_blank" style="width: 180px">
  <img src="<%- url_for("/images/github-white.png") %>">
  <div class="name">GitHub</div>
</a>
<a href="https://github.com/" target="_blank" style="width: 180px">
  <img src="<%- url_for("/images/github-white.png") %>">
  <div class="name">GitHub</div>
</a>
<a href="https://github.com/" target="_blank" style="width: 180px">
  <img src="<%- url_for("/images/github-white.png") %>">
  <div class="name">GitHub</div>
</a>